// FONT AVANT GARDE
  
  @font-face {
    font-family: "Avant Garde";
    src:url('./font/avant-garde/ITCAvantGardeStd-Bk.otf');
    font-weight:300;
    font-style:normal;
  }
  
  @font-face {
    font-family: "Avant Garde";
    src:url('./font/avant-garde/ITCAvantGardeStd-BkObl.otf');
    font-weight:300;
    font-style:italic;
  }
  
  @font-face {
    font-family: "Avant Garde";
    src:url('./font/avant-garde/ITCAvantGardeStd-Bold.otf');
    font-weight:600;
    font-style:normal;
  }
  
  @font-face {
    font-family: "Avant Garde";
    src:url('./font/avant-garde/ITCAvantGardeStd-BoldObl.otf');
    font-weight:600;
    font-style:italic;
  }
  
  @font-face {
    font-family: "Avant Garde";
    src:url('./font/avant-garde/ITCAvantGardeStd-BoldObl.otf');
    font-weight:600;
    font-style:italic;
  }
  
  @font-face {
    font-family: "Avant Garde";
    src:url('./font/avant-garde/ITCAvantGardeStd-Md.otf');
    font-weight:400;
    font-style:italic;
  }
  
  @font-face {
    font-family: "Avant Garde";
    src:url('./font/avant-garde/ITCAvantGardeStd-Md.otf');
    font-weight:400;
    font-style:italic;
  }
  
  // Alegreya
  @font-face {
    font-family: "Alegreya";
    src:url('./font/alegreya/Alegreya-Italic.otf');
    font-weight:300;
    font-style:italic;
  }
  